:root {
    --fishpath1: polygon(48% 0, 25% 12%, 28% 38%, 0 62%, 32% 55%, 42% 77%, 15% 100%, 48% 88%, 85% 100%, 58% 77%, 68% 55%, 100% 62%, 72% 38%, 75% 12%);
    --initial-path: polygon(48% 0, 0 0, 0 40%, 0 62%, 0 83%, 0 100%, 22% 100%, 54% 100%, 100% 100%, 100% 73%, 100% 67%, 100% 51%, 100% 34%, 100% 0);
    --zoom: 2;

    --miko-height: 200px;
    --miko-width: 100px;
    --aboutshadowbonus: -80deg;
    --aboutshadowscaleX: 1;
    --aboutshadowscaleY: 0.3;

    --paper: rgb(218, 214, 182);
}

@font-face {
    font-family: recoleta;
    src: url('./fonts/recoleta.otf');
    
}

body {
    margin: 0;
    font-family: recoleta, serif;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;

    background-color: rgb(92, 144, 161);
    overflow: hidden;
    background-size: calc(100px * var(--zoom));

    transition: all 0.3s;
    animation: wavetexture 10s infinite;

}

@keyframes wavetexture {
    0% {background-position: 0% 0%;
        background-size: calc(100px * var(--zoom)) calc(50px * var(--zoom));}

    50% {background-position: 3% -0%;
        background-size: calc(100px * var(--zoom)) calc(49px * var(--zoom));}

    100% {background-position: 0% 0%;
        background-size: calc(100px * var(--zoom)) calc(50px * var(--zoom));}
}




#linksbox {
    background-color: aquamarine;
    filter: opacity(1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#nav {
    position: fixed; 
    z-index: 2;
    top: 0;
    right: 0;

    height: 20vh;
    width: 20vh;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.486));
    
    backdrop-filter: blur(3px);
}

#nav>button {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 100%);
    width: 80%;
    font-family: recoleta, serif;
    border: none;

    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, var(--paper) 50%, var(--paper) 100%);
    background-size: 300% 300%;
    background-position: 100% 0%;

    transition: all 0.3s;
    cursor: pointer;
}

#nav>button:hover {
    background-position: 100% 100%;
    color: white;
}



#nav>#navtriangle {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: var(--paper);
    clip-path: polygon(20% 30%, 50% 80%, 80% 30%);
}

#nav>#navtriangle2 {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: polygon(12.5% 25%, 50% 90%, 87.5% 25%);
}

#nav:hover>#navtriangle, #nav:hover>#navtriangle2 {
    transform-origin: center;
    transform: scale(0.5) rotate(60deg);
}

#nav>div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    transition: all 0.3s;
    cursor: pointer;
}

#nav>div::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    content: '';

    transform: translate(-50%, 0%);
    filter: opacity(0);
    background-color: var(--paper);
    padding: 2px;
}

#nav>#housebtn::after {
    content: 'Contact';
}

#nav>#gardenbtn::after {
    content: 'About';
    bottom: 22%;
}

#nav>#shorebtn::after {
    content: 'Portfolio';
}

#nav>div.focused::after {
    filter: opacity(1);
}

#app>#nav>div.focused:not(#shorebtn) {
    transform: scale(1.2);
}

#app>#nav>div.unfocused:not(#shorebtn)  {
    transform: scale(0.85);
    filter: opacity(0.5);
}

#app>#nav>#shorebtn.focused {
    transform: translate(-50%, 50%) scale(1.2);
}

#app>#nav>#shorebtn.unfocused {
    transform: translate(-50%, 50%) scale(0.85);
    filter: opacity(0.5);
}

#nav>#housebtn {
    position: absolute;
    bottom: 50%;
    left: 8%;


    height: 40%;
    width: 40%;
    transform-origin: top left;
}

#nav>#gardenbtn {
    position: absolute;
    bottom: 40%;
    right: 3%;


    height: 50%;
    width: 50%;
    transform-origin: top right;
}

#nav>#shorebtn {
    position: absolute;
    bottom: 25%;
    left: 50%;


    height: 40%;
    width: 40%;
    transform: translate(-50%, 50%);
    transform-origin: bottom center;
}

#islandbox {
    height: 200vh;
    width: 200vw;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: relative;

    transition: all 0.3s;
}

#islandbox.zoomed {
    height: 100vh;
    width: 100vw;
}

#islandbox.gardenfocus:not(.zoomed) {
    transform: translate(-50%, 0%);
}

#islandbox.housefocus:not(.zoomed) {
    transform: translate(0%, 0%);
}

#islandbox.shorefocus:not(.zoomed) {
    transform: translate(-25%, -50%);
}

#islandbox>#islandbase {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 150%;
    height: 90%;
    background: rgb(190,176,98);
    background: linear-gradient(210deg, rgba(190,176,98,1) 0%, rgba(190,176,98,1) 80%, rgba(200, 192, 123, 0) 100%);
    filter: opacity(1);
    border-radius: 0 0 50% 30%;
    transform: skewX(45deg);

    animation: waves 10s infinite;
    overflow: hidden;
}

@keyframes waves {
    0% {border-radius: 0 0 50% 25%;}
    50% {border-radius: 0 0 50% 35%;}
    100% {border-radius: 0 0 50% 25%;}
}

#islandbox>#islandbase>#beachbox {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    overflow: hidden;
    background-size: calc(100px * var(--zoom));
    
}

#garden {
    position: relative;
    z-index: 1;
}

#house {
    position: relative;
    z-index: 2;
}

#shore {
    grid-column: span 2;
    position: relative;
    z-index: 3;

    perspective: 390px;
    perspective-origin: 50% 50%;
}

#shore>#nametag {
    position: absolute;
    bottom: calc(5% * var(--zoom));
    left: 50%;

    font-size: calc(35px * var(--zoom));
    transform: translate(-50%, 0%) skewX(35deg);

    animation: namewave 10s infinite;
}
@keyframes namewave {
    0% {transform: translate(-50%, 0%) skewX(35deg);}
    50% {transform: translate(-37%, -55%) skewX(35deg);}
    100% {transform: translate(-50%, 0%) skewX(35deg);}
}

#shore>#stonepathbox {
    position: absolute;
    top: 0%;
    left: 55%;

    height: 25%;
    width: 70%;
    border-radius: 20% 15% 35% 10%;
    overflow: hidden;
    transform: skewX(45deg);
}

#shore>#stonepathbox::after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background: rgb(190,176,98);
    background: linear-gradient(90deg, rgba(190, 176, 98, 0.8) 0%, rgba(190,176,98,0.3) 30%, rgba(190,176,98,0.9) 100%);
    width    : 200%;
    height   : 100%;

}

@keyframes stonesand {
    0% {transform: translate(-50%, 0%)}
    50% {transform: translate(0%, 0%)}
    100% {transform: translate(-50%, 0%)}
}

#shore>#stonepathbox>#stonepath {
    position: absolute;
    top: 0;
    left: -15%;

    transform: skewX(-45deg);

    height: 100%;
    width: 150%;

    background-size: calc(50px * var(--zoom));
}

#shore>#fishbox1 {
    position: absolute;
    bottom: -20%;
    left: 0;
    
    width: 40%;
    height: 80%;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(60deg) rotateY(15deg) rotateZ(-25deg);

    background-color: rgba(126, 252, 0, 0);

}

#shore>#fishbox2 {
    position: absolute;
    bottom: 0;
    right: -10%;
    
    width: 65%;
    height: 26%;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(60deg) rotateY(15deg) rotateZ(-12deg);

    background-color: rgba(255, 160, 122, 0);
}

.fish {
    position: absolute;

    height: calc(45px * var(--zoom));
    width: calc(25px * var(--zoom));

    background-color: rgba(0, 0, 0, 0.425);
    clip-path: var(--fishpath1);
    background-size: 200%;
    background-position: 50%;
    transition: top 1s, left 1s, transform 0.3s;
}

/* .fish:hover {
    clip-path: var(--initial-path);
    width: 10vw;
    background-size: 100%;
} */

#mikobox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;

    height: 40%;
    width: calc(10vh * var(--zoom));

    transition: all 0.3s;
    pointer-events: none;
}

#mikobox.shadowed>div:not(#fishrack):not(#fishrackshadow) {
    filter: brightness(0.5);
}

#mikobox>#fishrack {
    position: absolute;
    bottom: 40%;
    right: -30%;


    height: 78%;
    width: 300%;
    transform-origin: bottom right;
    transform: skewX(-4deg) rotate(-2deg) translate(0%, 0%);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    pointer-events: all;
    animation: rackshake 10s infinite;
    transition: all 0.3s, animation 0s;
}

#mikobox>#fishrack.expanded {
    z-index: 3;
    bottom: 0%;
    right: 50%;

    height: 53vw;
    width: 100vw;

    max-height: 100vh;
    max-width: 1700px;
    transform: skewX(-0deg) rotate(-0deg) translate(50%, calc(25% * var(--zoom)));
}

#mikobox>#fishrack.noani {
    animation: initial;
}

@keyframes rackshake {
    0% {transform: skewX(-4deg) rotate(-2deg) scaleY(1)}
    12.5% {transform: skewX(-6deg) rotate(-2deg) scaleY(1)}

    20% {transform: skewX(-4deg) rotate(-2deg) scaleY(1)}
    37% {transform: skewX(-6deg) rotate(-2deg) scaleY(1)}

    50% {transform: skewX(-2deg) rotate(-2deg) scaleY(1)}
    58% {transform: skewX(-6deg) rotate(-2deg) scaleY(1)}

    66% {transform: skewX(-5deg) rotate(-2deg) scaleY(1)}
    87.5% {transform: skewX(-6deg) rotate(-2deg) scaleY(1)}

    100% {transform: skewX(-4deg) rotate(-2deg) scaleY(1)}
}

#fishrack>button {
    z-index: -1;
    box-sizing: border-box;
    position: absolute;
    bottom: 4%;
    left: 15%;

    font-size: calc(6px * var(--zoom));
    font-family: recoleta, serif;
    font-weight: bolder;
    
    height: 10%;
    width: 20%;
    background-color: rgb(124, 116, 52);
    padding: initial;
    padding-top: calc(3px * var(--zoom));

    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

#fishrack>button:hover {
    filter: brightness(1.5);
}

#fishrack>button::before {
    position: absolute;
    z-index: -1;
    top: -100%;
    left: -23%;
    content: '';

    height: 100%;
    width: 100%;
    transform: skewX(60deg);
    background-color: rgb(139, 131, 68);
} 

#fishrack>button::after {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    content: '';

    height: 100%;
    width: 46%;
    transform: skewY(29deg) translate(-99%, 45%);
    background-color: rgb(105, 97, 38);
} 

#fishrack.expanded>button {
    font-size: 20px;
}

.fishrackbox {
    height: 90%;
    width: 100%;

    /* background-color: rgba(255, 5, 5, 0.397); */

    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

.fishrackbox>.caughtfishbox {
    height: 30%;
    width: 9%;
    position: relative;
    margin-top: 6.5%;

    transform-origin: top center;
    animation: fishshake 10s infinite;
}

@keyframes fishshake {
    0% {transform: skewX(0deg) rotate(-10deg) scaleY(1)}
    12.5% {transform: skewX(0deg) rotate(-15deg) scaleY(1)}

    20% {transform: skewX(-0deg) rotate(-10deg) scaleY(1)}
    37% {transform: skewX(-0deg) rotate(-15deg) scaleY(1)}

    50% {transform: skewX(-0deg) rotate(-5deg) scaleY(1)}
    58% {transform: skewX(-0deg) rotate(-15deg) scaleY(1)}

    66% {transform: skewX(-0deg) rotate(-12.5deg) scaleY(1)}
    87.5% {transform: skewX(-0deg) rotate(-15deg) scaleY(1)}

    100% {transform: skewX(-0deg) rotate(-10deg) scaleY(1)}
}

.fishrackbox>.caughtfishbox:nth-child(n+12) {
    margin-top: 4%;
}

.fishrackbox>.caughtfishbox>.caughtfish {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;

    background-color: rgb(64, 212, 121);
    clip-path: var(--fishpath1);
    background-size: 200%;
    background-position: 50%;
    filter: brightness(0.7);

    transition: all 0.3s;
    cursor: pointer;
    pointer-events: all;
}

.fishrackbox>.caughtfishbox>.caughtfish:hover {
    filter: brightness(1);
}

.fishrackbox>.caughtfishbox:after {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;

    content: '';

	height: 20%;
	width: 3%;
    background-color: rgb(2, 0, 0);
    border-radius: 100% 100% 0 0;
    transform: translate(-50%, -80%);
}

#mikobox>#fishrackshadow {
    position: absolute;
    bottom: 40%;
    right: -30%;


    height: 82%;
    width: 300%;
    transform-origin: bottom right;
    transform: skewX(20deg) rotate(-2deg) scaleY(0.5);
    filter: brightness(0) opacity(0.5);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    animation: rackshadowshake 10s infinite;

}

@keyframes rackshadowshake {
    0% {transform: skewX(20deg) rotate(-2deg) scaleY(0.5)}
    12.5% {transform: skewX(18deg) rotate(-2deg) scaleY(0.5)}

    20% {transform: skewX(20deg) rotate(-2deg) scaleY(0.5)}
    37% {transform: skewX(18deg) rotate(-2deg) scaleY(0.5)}

    50% {transform: skewX(22deg) rotate(-2deg) scaleY(0.5)}
    58% {transform: skewX(18deg) rotate(-2deg) scaleY(0.5)}

    66% {transform: skewX(19deg) rotate(-2deg) scaleY(0.5)}
    87.5% {transform: skewX(18deg) rotate(-2deg) scaleY(0.5)}

    100% {transform: skewX(20deg) rotate(-2deg) scaleY(0.5)}
}

#shadebox {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;

    transition: all 0.3s;
}

#shadebox.shadowed {
    background-color: rgba(0, 0, 0, 0.459);
}

#mikobox>#mikoshadow {
    position: absolute;
    bottom: -2%;
    left: 5%;
    transform: translate(-50%, 0%);
    height: 10%;
    width: calc(120px *var(--zoom));
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.384);
}

#mikobox>div:not(#mikoshadow):not(#mikorod):not(#bucket):not(#bucketshadow):not(#fishrack):not(#fishrackshadow) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#mikobox #mikorod {
    position: absolute;
    top: calc(-70px * var(--zoom));
    left: calc(50px * var(--zoom));
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#mikobox>#mikodress {
    
    animation: dresswave 10s infinite;
}

@keyframes dresswave {
    0% {transform: translate(0%, -1%) skewX(0deg);}
    12.5% {transform: translate(1%, -0.5%) skewX(5deg) skewY(2deg)}
    20% {transform: translate(0%, -1%) skewX(0deg);}
    37% {transform: translate(1%, -0.5%) skewX(2.5deg) skewY(2deg)}
    50% {transform: translate(0%, -1%) skewX(0deg);}
    58% {transform: translate(1%, -0.5%) skewX(5deg) skewY(2deg)}
    66% {transform: translate(0%, -1%) skewX(0deg);}
    87.5% {transform: translate(1%, -0.5%) skewX(5deg) skewY(2deg)}
    100% {transform: translate(0%, -1%) skewX(0deg);}
}

#mikobox>#mikobangs {
    animation: bangswave 10s infinite;
}

@keyframes bangswave {
    0% {transform: translate(-0%, -0%) skewX(0deg);}
    12.5% {transform: translate(32%, -0%) skewX(20deg)}

    20% {transform: translate(16%, -0%) skewX(10deg);}
    37% {transform: translate(32%, -0%) skewX(20deg)}

    50% {transform: translate(10.5%, -0%) skewX(6.66deg);}
    58% {transform: translate(32%, -0%) skewX(20deg)}

    66% {transform: translate(-0%, -0%) skewX(0deg);}
    87.5% {transform: translate(32%, -0%) skewX(20deg)}

    100% {transform: translate(-0%, -0%) skewX(0deg);}
}

#mikobox>#mikohairback1 {
    animation: hairwave 10s infinite;
}

@keyframes hairwave {
    0% {transform: translate(-0%, -1%) skewX(0deg);}
    12.5% {transform: translate(29%, -1%) skewX(20deg)}

    20% {transform: translate(14.5%, -1%) skewX(10deg);}
    37% {transform: translate(29%, -1%) skewX(20deg)}

    50% {transform: translate(9%, -1%) skewX(6.66deg);}
    58% {transform: translate(29%, -1%) skewX(20deg)}

    66% {transform: translate(-0%, -1%) skewX(0deg);}
    87.5% {transform: translate(29%, -1%) skewX(20deg)}

    100% {transform: translate(-0%, -1%) skewX(0deg);}
}

#mikobox>#mikoarmleft {
    animation: armbreathleft 3s infinite;
}

@keyframes armbreathleft {
    0% {transform: rotate(0deg) translate(0%, 0%);}
    50% {transform: rotate(-5deg) translate(4.5%, -1%);}
    100% {transform: rotate(0deg) translate(0%, 0%);}
}

#mikobox>#mikoarmright {
    animation: armbreathright 3s infinite;
}

@keyframes armbreathright {
    0% {transform: rotate(0deg) translate(0%, 0%);}
    50% {transform: rotate(5deg) translate(-4%, -1%);}
    100% {transform: rotate(0deg) translate(0%, 0%);}
}

#mikobox>#mikohead {
    pointer-events: all;
}

#mikobox>#bucket {
    position: absolute;
    bottom: calc(0px * var(--zoom));
    right: 100%;
    height: 30%;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    pointer-events: all;
}

#mikobox>#bucketshadow {
    position: absolute;
    bottom: calc(10px * var(--zoom));
    right: 102%;
    height: 8%;
    width: calc(60px *var(--zoom));
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.384);
}

#housebox {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
    width: calc(50vh * var(--zoom));
}

#housebox>div:not(#houseshadow):not(.art):not(#flag) {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    filter: brightness(0.8);
    transition: all 0.3s cubic-bezier(1, 0, 0.58, 1);
}

#housebox>#houseinterior {
    filter: brightness(0.5) !important;
}

#housebox>#housefront.open {
    transform: translate(-35%, 5%) scaleY(-0.25) skewX(-20deg) !important;
}

#housebox>#houseinterior.open {
    filter: brightness(0.8) !important;
}

#housebox>#houseshadow {
    position: absolute;
    bottom: 6%;
    right: 18%;
    height: 25%;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.658);

    transform: skewX(45deg) rotate(-1deg);
}

#houseroof, #housefront, #houseinterior {
    pointer-events: none;
}

#housebox>.art {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
    cursor: pointer;
}

#housebox>#emailart {
    top: 45%;
    right: 50%;

    height: 25%;
    width: 25%;
    filter: drop-shadow(-10px -10px 5px rgba(0, 0, 0, 0.555)) brightness(calc(0.5 * var(--zoom)));
    transform: skew(0deg, -2deg) scale(0.9, 1);
    background-color: rgba(255, 0, 0, 0);
}

#housebox>#emailart:hover {
    transform: skew(0deg, 0deg) scale(1, 1) rotate(0deg);
}

#housebox>#linkedinart {
    top: 72%;
    right: 42%;

    height: 25%;
    width: 25%;
    transform: skew(50deg, 0deg) scale(1, 0.5) rotate(-3deg);
    filter: drop-shadow(-15px -10px 5px rgba(0, 0, 0, 0.335)) brightness(calc(0.5 * var(--zoom)));
    background-color: rgba(255, 0, 0, 0);
}

#housebox>#linkedinart:hover {
    transform: skew(0deg, 0deg) scale(1, 1) rotate(-3deg) translate(22%, -22%);
    filter: drop-shadow(-15px 10px 5px rgba(0, 0, 0, 0.335)) brightness(calc(0.5 * var(--zoom)));
}

#housebox>#githubart {
    top: 48%;
    right: 20%;

    height: 25%;
    width: 25%;
    transform: skew(0deg, 25deg) scale(0.7, 1);
    filter: drop-shadow(7px -7px 5px rgba(0, 0, 0, 0.555)) brightness(calc(0.5 * var(--zoom)));
    background-color: rgba(255, 0, 0, 0);
}

#housebox>#githubart:hover {
    transform: skew(0deg, 0deg) scale(1, 1) rotate(0deg) translate(-15%, 10%);
    filter: drop-shadow(-10px -10px 5px rgba(0, 0, 0, 0.246)) brightness(calc(0.5 * var(--zoom)));
}

#housebox>.art>a {
    display: block;
    height: 100%;
    width: 100%;
}

#housebox>#flag {
    position: absolute;
    top: 40%;
    right: 7%;

    height: 20%;
    width: 15%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    transform-origin: top right;
    animation: flagwave 10s infinite;
}

@keyframes flagwave {
    0% {transform: skewX(0deg) scaleY(1) translateY(0%);}
    12.5% {transform: skewX(20deg) scaleY(0.5) translateY(10%);}
    20% {transform: skewX(0deg) scaleY(1) translateY(0%);;}
    37% {transform: skewX(10deg) scaleY(0.5) translateY(10%);}
    50% {transform: skewX(0deg) scaleY(1) translateY(0%);;}
    58% {transform: skewX(20deg) scaleY(0.5) translateY(1%);}
    66% {transform: skewX(0deg) scaleY(1) translateY(0%);;}
    87.5% {transform: skewX(20deg) scaleY(0.5) translateY(10%);}
    100% {transform: skewX(0deg) scaleY(1) translateY(0%);}
}

#sandbox1 {
    background-color: rgb(73, 73, 73);
    
    box-sizing: border-box;
    position: absolute;
    bottom: 8%;
    left: -30%;

    height: 80%;
    width: 80%;
    transform: skewX(45deg);
    border-radius: 20% 0 10% 10%;

    

    background-size: calc(75px * var(--zoom));
    background-position: 0px;
}

#sandbox1::after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background: rgb(190,176,98);
    background: linear-gradient(45deg, rgba(190, 176, 98, 0.8) 0%, rgba(190,176,98,0.3) 45%, rgba(190,176,98,0) 100%);
    width    : 100%;
    height   : 100%;
  }



#sandbox2 {
    background-color: rgb(73, 73, 73);
    
    position: absolute;
    top: 12%;
    left: 10.5%;

    height: 40%;
    width: 120%;
    transform: skewX(45deg);
    border-radius: 0 20% 15% 0;


    background-size: calc(75px * var(--zoom));
    background-position: calc(1px * var(--zoom));
}

#sandbox2::after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background: rgb(190,176,98);
    background: linear-gradient(90deg, rgba(190, 176, 98, 0) 0%, rgba(190, 176, 98, 0) 20%, rgba(190, 176, 98, 0.1) 25%, rgba(190,176,98,1) 100%);
    width    : 100%;
    height   : 100%;
  }

#post {
    position: absolute;
    bottom: 30%;
    right: 5%;
    height: 40%;
    width: calc(12vh * var(--zoom));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    filter: brightness(0.9);
} 

#post::after {
    position: absolute;
    bottom: 4%;
    right: 63%;

    content: '';
    width: 120%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 100% 0 0 100%;
}

#treebox {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.tree {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 20%;
    width: calc(12vh * var(--zoom));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    transform-origin: bottom center;
}

.tree:nth-child(-n+2) {
    animation: treeshake 10s infinite;
}

.tree:nth-child(n+3) {
    animation: treeshake 10s infinite;
    animation-delay: 1s;
}

@keyframes treeshake {
    0% {transform: translate(-0%, -1%) skewX(0deg);}
    12.5% {transform: translate(0%, -1%) skewX(-10deg)}

    20% {transform: translate(0%, -1%) skewX(-5deg);}
    37% {transform: translate(0%, -1%) skewX(-10deg)}

    50% {transform: translate(0%, -1%) skewX(-4deg);}
    58% {transform: translate(0%, -1%) skewX(-10deg)}

    66% {transform: translate(0%, -1%) skewX(-0deg);}
    87.5% {transform: translate(0%, -1%) skewX(-10deg)}

    100% {transform: translate(-0%, -1%) skewX(0deg);}
}

.tree:nth-child(9) {
    left: 27%;
    bottom: 20%;
    filter: brightness(0.8);
}



.tree:nth-child(8) {
    left: 5%;
    bottom: 30%;
    filter: brightness(0.7);
}

.tree:nth-child(5) {
    left: 15%;
    bottom: 65%;
    filter: brightness(0.9);
}



.tree:nth-child(4) {
    left: -15%;
    bottom: 75%;
    filter: brightness(0.7);
}

.tree:nth-child(2) {
    left: 50%;
    bottom: 50%;
    filter: brightness(0.7);
}



.tree:nth-child(1) {
    left: 75%;
    bottom: 60%;
    filter: brightness(0.6);
}



.tree::after {
    position: absolute;
    bottom: 0;

    content: '';
    width: 50%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 100% 0 0 100%;

    transform-origin: bottom right;
    z-index: -1;
}

.tree:nth-child(9)::after {
    right: 70%;
    bottom: 5%;
}

.tree:nth-child(8)::after {
    right: 35%;
    bottom: 5%;
}

.tree:nth-child(5)::after {
    right: 70%;
    bottom: 4%;
}

.tree:nth-child(4)::after {
    right: 35%;
    bottom: 5%;
}

.tree:nth-child(2)::after {
    right: 70%;
    bottom: 5%;
}

.tree:nth-child(1)::after {
    right: 36%;
    bottom: 4.5%;
}

#treebox>.aboutpanel {
    position: absolute;
    width: calc(50vh * var(--zoom));
    height: calc(3rem * var(--zoom));



    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;

    pointer-events: none;
}

#treebox>.aboutpanel:hover {
    height: calc(150px * var(--zoom));
}

#treebox>.aboutpanel>.abouttext {
    width: 15%;
    background-color: rgb(171, 182, 129);
    padding: calc(5px * var(--zoom));


    transform-origin: bottom right;
    animation: treeshake 10s infinite;
    animation-delay: 1s;
    pointer-events: all;
}

/* About panel shadow. */
#treebox>.aboutpanel:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 42.5%;

    height: 100%;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.459);
    transform-origin: bottom right;

    animation: aboutshadowshake 10s infinite;
    animation-delay: 1s;
}

@keyframes aboutshadowshake {
    0% {transform: translate(-0%, -1%) skewX(calc(0deg - var(--aboutshadowbonus))) scale( var(--aboutshadowscaleX), var(--aboutshadowscaleY))}
    12.5% {transform: translate(0%, -1%) skewX(calc(-10deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}

    20% {transform: translate(0%, -1%) skewX(calc(-5deg - var(--aboutshadowbonus))) scale( var(--aboutshadowscaleX), var(--aboutshadowscaleY))}
    37% {transform: translate(0%, -1%) skewX(calc(-10deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}

    50% {transform: translate(0%, -1%) skewX(calc(-4deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}
    58% {transform: translate(0%, -1%) skewX(calc(-10deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}

    66% {transform: translate(0%, -1%) skewX(calc(0deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}
    87.5% {transform: translate(0%, -1%) skewX(calc(-10deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}

    100% {transform: translate(-0%, -1%) skewX(calc(0deg - var(--aboutshadowbonus))) scale(var(--aboutshadowscaleX), var(--aboutshadowscaleY))}
}


#treebox>.aboutpanel h1 {
    margin: 0;
    font-size: calc(0.75rem * var(--zoom));
}

#treebox>.aboutpanel p, #treebox>.aboutpanel ul{
    margin: 0;
    font-size: calc(0.5rem * var(--zoom));
}

#treebox>.aboutpanel ul {
    padding: 0;
    list-style-type: none;
}

#treebox>.aboutpanel>img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(-3px -5px 10px rgba(0, 0, 0, 0.479));

    height: calc(1.5rem * var(--zoom));
}


#treebox>#about1 {
    left: 5%;
    bottom: 32%;
}

#treebox>#about2 {
    left: -10%;
    bottom: 50%;
}

#treebox>#about3 {
    left: 10%;
    bottom: 70%;
}


#siteinfobox {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    height: 90vh;
    width: 92vh;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    background-color: var(--paper);
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.541);

    transition: all 0.2s;
}

#siteinfobox.hidden {
    transform: translate(-50%, 60%);
}

#siteinfobox>button {
    position: absolute;
    top: 0;
    right: 0;

    height: 10%;
    width: 20%;
    flex-grow: 1;
    transition: all 0.3s;
    overflow: hidden;
    font-family: recoleta, serif;
    border: none;
    color: rgba(255, 0, 0, 0.555);
    font-size: 2.5rem;

    background: rgb(255,0,0);
    background: linear-gradient(225deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(200,192,123,0) 50%, rgba(200,192,123,0) 100%);
    background-size: 200% 200%;
    background-position: 0% 100%;

    pointer-events: all;
    cursor: pointer;
    transition: all 0.15s;
}

#siteinfobox>button:hover {
    background-position: 100% 0%;
    color: white;
}

#siteinfobox>#infoimg {
    position: absolute;
    top: 50%;
    left: 5%;

    transform: translate(0%, -50%);
    height: 70%;
    width: 40%;

    clip-path: var(--fishpath1);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 50%;
    transition: all 0.3s;
}

#siteinfobox>#infoimg:hover {
    width: 90%;
    height: 90%;

    background-size: 100%;
    clip-path: var(--initial-path);
}

#siteinfobox>#infotextbox {
    position: absolute;
    top: 50%;
    right: 5%;

    transform: translate(0%, -50%);
    width: 40%;
    background-color: rgba(218, 214, 182, 0.74);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#siteinfobox>#infotextbox.hidden {
    top: initial;
    bottom: 5%;
    width: 60%;
    transform: translate(0%, 0%);
}

#siteinfobox>#infotextbox.hidden button {
    height: 0;
    filter: opacity(0);
}

#siteinfobox>#infotextbox.hidden>#header {
    transform: scale(0);
}

#siteinfobox>#infotextbox>#header {
    font-size: 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, -100%);
    padding-left: 8px;
    color: red;
}

#siteinfobox>#infotextbox>p {
    font-size: 16px;
    margin: 0;
    padding: 8px;
}

#siteinfobox>#infotextbox>#infobtnbox {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#siteinfobox>#infotextbox button {
    position: relative;
    height: 60px;
    flex-grow: 1;
    transition: all 0.3s;
    overflow: hidden;
    font-family: recoleta, serif;
    border: none;

    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(200,192,123,1) 50%, rgba(200,192,123,1) 100%);
    background-size: 300% 300%;
    background-position: 100% 0%;

    pointer-events: all;
}

#siteinfobox>#infotextbox button:hover {
    background-position: 100% 100%;
    color: white;
}

#siteinfobox>#infotextbox button>a {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}